RewriteEngine On

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
#Que no se un fichero
RewriteCond %{REQUEST_FILENAME} !-d
#Que no se un directorio

RewriteRule ^(.*)$ index.php?ulr=$1 [QSA,L]
#Cualquier cosa lo rediriges al index.php (parsea la cadena)